<footer>
    <form>
      <h6 id="h6">Cadastre-se:</h6>
      <p>Informe seu e-mail e nome abaixo para receber
        <br>mais novidades sobre livros:
      </p>
      <label>
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <br>
        <input type="email" name="email" id="email" placeholder="E-mail">
      </label>
      <br /><br />
      <button class="buttonClass">Inscrever-se</button>
    </form>

    <div>
      <div id="Devlop">
        <p> <b>Livraria Online desenvolvida pela equipe RLV.</b>
          <br><br>
          <i>Luan Moreira, Rian Ricardo e Victor Gabriel.</i>
          <br><br>
        </p>
      </div>
    </div>
  </footer>