<div class="background">
    <div class="page">
        <form class="formLogin" action="/login">
          <h1>Login</h1>
          <br>
          <label>E-mail
            <br>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" name="email"/>
          </label>
    
          <label>Senha
            <br>
            <input type="password" placeholder="Digite sua senha" name="senha"/>
          </label>
    
          <a href="#">Esqueci minha senha</a>
          <a href="index.html">Voltar a pagina inicial</a>
    
          <input type="submit" value="Acessar" class="btn" id="botao"/>
          <a href="cadastro.html" id="cadSpace">
            <input type="button" value="Cadastre-se" class="btn" />
          </a>
    
        </form>
      </div>
</div>
